- if @prototype.user_like(@prototype)
  %button#like.btn.btn-default.btn-like.increment
    = image_tag("icon_heart_red.svg")
    Like
    %span#like-sum
      = @prototype.likes.count
- else
  %button#like.btn.btn-default.btn-like.decrement
    = image_tag("icon_heart.svg")
    Like
    %span#like-sum
      = @prototype.likes.count


